<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3PK91CQED9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3PK91CQED9');
    </script>

    <title>Welcome To Mortgage Exchange "Morex"</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta description="mortgage self employed business owners declined by banks bad credit"/>
    <meta property="og:image" content="https://karrotz.ca/views/previewRobert.jpg" />
    <link rel="Shortcut Icon" type="image/ico" href="./assets/images/logo2.png">
    <link rel="stylesheet" type="text/css" href="./assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css" />
</head>

<body>

    <header class="header">
        
        
        <div class="logo right">
            <a class="home" href="https://morex.ca/"><img src="./assets/images/auction2.gif" alt="logo" /></a>
        </div>


    </header>
    <main>
        <div class="container">
            <a class="button home" href="https://morex.ca/" onclick="LinkClicked('Inventory'); return false;">
                Home Page
            </a>
          
        </div>
    </main>





</body>